# .emacs.d

dot_emacs.d/**
!dot_emacs.d/init.el
!dot_emacs.d/extra-emacs-functions.el
!dot_emacs.d/rss-config.el
!dot_emacs.d/gerrit-utils.el
!dot_emacs.d/ocaml-setup.el
!dot_emacs.d/splash/splash.el
!dot_emacs.d/splash/img/emacslogo.svg
!dot_emacs.d/fontsetup.el
!dot_emacs.d/sel4-projectile.el
!dot_emacs.d/gnus.el