[user]
        name = Jesse Millwood
        {{- if eq .chezmoi.hostname "lemur" }}
        email = jesse_dev@fastmail.com
        {{- else if eq .chezmoi.hostname "pop-os" }}
        email = jmillwood@masten.aero
        {{- end }}
{{- if eq .chezmoi.hostname "lemur" }}
[includeIf "gitdir:~/woollylabs/code/**"]
        path = ~/woollylabs/configs/gitconfig
{{- end }}
[color]
        ui = auto
[difftool]
        prompt = false
[diff]
        tool = meld
        guitool = meld
[credential]
        {{- if eq .chezmoi.hostname "lemur" }}
        helper = libsecret
        {{- else if eq .chezmoi.hostname "pop-os" }}
        helper = libsecret
        {{- end }}
[merge]
        tool = ediff
        conflictStyle = diff3
[mergetool "ediff"]
           cmd = emacs \"\" --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[alias]
        lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

[core]
        editor = emacs -nw

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

# Local Variables:
# mode: conf
